---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<section class="home">
  <h1>Hi, I'm Simon</h1>

  <p>
    I am a frontend engineer from Nuremberg with a heart for good UX.
  </p>

  <p>
    In my studies of media technology I first specialized in conception and design of print media.
    Over time, however, my interest in ui development was awakened.
    Since then I live out my affinity for good looks on the web and continue to develop technically.
  </p>

  <ul>
    <li>html</li>
    <li>css</li>
    <li>javascript</li>
  </ul>
</section>
