<footer class="flex flex-col items-center gap-6 py-5 font-serif text-sm sm:flex-row sm:justify-between">
  <span>© 2013-2026, Simon Stubenvoll</span>

  <span class="space-x-1">
    <a href="{{ '/privacy.html' | url }}">Privacy</a>
    <span>|</span>
    <a href="{{ '/imprint.html' | url }}">Imprint</a>
    <span>|</span>
    <a href="https://github.com/stbnvll" title="GitHub" target="_blank" rel="noopener noreferrer">GitHub</a>
    <span>|</span>
    <a href="https://de.linkedin.com/in/simonstubenvoll" title="LinkedIn" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  </span>
</footer>
