<header role="banner">
  <a href="{{ '/' | url }}" rel="home" aria-label="go to homepage">
    <img src="{{ '/img/avatar.jpg' | url }}">
    <span>{{ metadata.title }}</span>
  </a>

  <ul>
    {% for item in collections.all | eleventyNavigation %}
      {% if item.url %}
        {% set isCurrent = (item.url == page.url) %}
        {% set isParent = item.url != '/' and item.url in page.url %}
        <li>
          <a href="{{ item.url | url }}"{% if isCurrent %}aria-current="page" {% endif %}>{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</header>
