---
layout: layouts/base.njk
---

<article aria-labelledby="{{ title | slug }}-title">
  <header>
    <h1 id="{{ title | slug }}-title">{{ title }}</h1>
  </header>

  {{ content | safe }}
</article>
